*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: right;
    background: linear-gradient(#2196f3 , #e91e63);
    justify-content: space-between;
    padding: top;
    padding-left: 56%;
}
span{
    color: #fff;
  }
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px; 
    align-items: right;
  }
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
  }
nav ul li a:hover{
    color: #2196f3;
    transition: .4s;
  }


body{
   
    background: linear-gradient(#2196f3 , #e91e63);
    height: 100vh;
    overflow: hidden;
  }
  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: linear-gradient(#2196f3 , #e91e63);
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }
  .center h2{
    text-align: center;
    color: #fff;
    letter-spacing: 6px;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
  }
  .center form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  form .txt_field{
    position: relative;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #fff;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    transition: .5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #fff;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }
  .pass{
    margin: -5px 0 20px 5px;
    color: #fff;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
  }
  input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: linear-gradient(#2196f3 , #e91e63);
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  input[type="submit"]:hover{
    border-color: linear-gradient(#2196f3 , #e91e63);
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    transition: .5s;
  }
  .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
  }
  .signup_link a{
    color: linear-gradient(#2196f3 , #e91e63);
    text-decoration: none;
  }
  .signup_link a:hover{
    text-decoration: underline;
  }